body{
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
}

.root{
  margin: 0;
  min-width: 1280px;
  padding: 0;
  box-sizing: border-box;
}

.header{
  max-width: 76.875%;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 34px auto 0;
}

.header__link_en{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 18px;
}

.header__link_en:focus{
  text-decoration-line: underline;
}


.header__link_es{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: right;
  color: #FFFFFF;
}

.header__link_es:focus{
  text-decoration-line: underline;
}

.logo{
  width: 190px;
  height: 44px;
  padding: 0;
  box-sizing: border-box;
}

.lead{
  max-width: 76.875%;
  margin: 0 auto 0;
  padding: 0;
  box-sizing: border-box;
}

.lead__title{
  max-width: 56.25%;
  margin: 58px auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle{
  margin: 32px auto 0;
  width: 48.4375%;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}



.lead__image{
  display: block;
  margin: 64px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 76.875vw;
  max-width: 984px;
  max-height: 615px;
}

.lead__caption{
  margin: 8px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro{
  max-width: 690px;
  width: 53.90625%;
  margin: 92px 442px 0 148px;
  padding: 0;
  box-sizing: border-box;
}

.intro__title{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__subtitle{
  margin: 40px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

.intro__text{
  margin: 32px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list{
  margin: 33px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
}

.into__list_item{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo-grid{
  width: 92.5%;
  margin: 92px auto 0;
  padding: 0;
  box-sizing: border-box;
}

.photo-grid_gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo-grid_gallery_item{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo-grid_gallery_img{
  max-width: 284px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.places{
  width: 76.875%;
  margin: 92px auto 0;
  padding: 0;
  box-sizing: border-box;
}

.place{
  width: 76.875%;
  margin: 80px 0 80px 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 40px 40px;
}

.place__title{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  grid-column: 1;
  grid-row: 1;
}

.place__image{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 35.9375vw;
  max-width: 460px;
  max-height: 460px;
  grid-column: 1;
}

.place__text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-row:2;
  grid-column: 2;
}

.place__website{
  margin: 25px 0 57px 0;
  padding: 0;
  box-sizing: border-box;
  width: 38%;
  grid-row: 1;
  grid-column: 2;
}

.place__website__url-heading{
  width: 35.625%;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #AAAAAA;
}

.place__website__link{
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website__link:hover{
  opacity: .8;
}

.place__parapraph{
  max-width: 484px;
  width: 37.8125vw;
  margin: 0 0 25px 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.place__parapraph:last-of-type{
  margin: 0;
}

.cover{
  width: 92.5%;
  max-width: 1184px;
  height: 740px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.cover__title{
  display: inline-block;
  margin: 283px auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFDFD;
  position: relative;
  z-index: 1;
}

.cover__subtitle{
  margin: 32px auto 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 320px;
  position: relative;
  z-index: 1;
}

.cover__overlay{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__background{
  background-image: url(./images/cover.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.cover__overlay:hover{
  opacity: 0.8;
}


.footer{
  margin: 92px auto 0;
  max-width: 1184px;
  box-sizing: border-box;
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__link{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 18px 0 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__link:last-of-type{
  margin: 0;
}

.footer__link:hover{
  opacity: 0.8;
}

.footer__copyright{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}