.places__place-title{
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 1024px){
  .places__place-title{
    max-width: 440px;
  }
}

@media screen and (max-width: 768px){
  .places__place-title{
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    align-self: flex-end;
    margin: 0;
  }
}

@media screen and (max-width: 767px){
  .places__place-title{
    font-size: 32px;
    line-height: 35px;
    max-width: 100%;
    grid-row: 1;
    white-space: nowrap;
    margin: 0 0 0 5vw;
  }
}

