.place__paragraph {
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:not(:last-child) {
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph:first-child {
    padding-top: 2px;
  }
  .place__paragraph{
    max-width: 90%;
    margin: 0 auto;
  }
}
