.places__place-image{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 460px;
  grid-column: 1;
}

@media screen and (max-width: 1024px){
  .places__place-image{
    max-width: 440px;
  }
}

@media screen and (max-width: 768px){
  .places__place-image{
    max-width: 100%;
  }
}

@media screen and (max-width: 425px){
  .places__place-image{
    max-width: 173px;
  }
}

@media screen and (max-width: 320px){
  .places__place-image{
    grid-row: 3 / 4;
    grid-column: 0;
    max-width: 320px;
    width: 100vw;
  }
}