.intro{
  max-width: 690px;
  margin: 92px 34.53% 0 11.56%;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1028px){
  .intro{
    max-width: 720px;
    margin: 88px 0 0 48px;
  }
}

@media screen and (max-width: 768px){
  .intro{
    max-width: 720px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px){
  .intro{
    max-width: 288px;
    margin: 64px auto 0;
  }
}