.places__place-website{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

@media screen and (max-width: 767px){
  .places__place-website{
    grid-row: 2;
    margin: 0 0 0 5%;
  }
}
